$mainFont: 'Lato', sans-serif;
$secondaryFont: 'Italianno', sans-serif;

//Colores
$primaryColor: #7bd1d7;
$secondaryColor: #e082a8;
$bodyColor: #f8f8f8;
$black: #000;
$grey: #979797;
$white: #ffffff;

// Breakpoints media-queries
$small: 480px;
$medium: 768px;
$big: 1020px;

$tamañoH1: 4rem;
$tamañoH2: 3.2rem;
$tamañoH3: 2.4rem;
$grosorTitulares: 900;
$tamañoP: 2rem;
$restoTexto: 1.6rem;
$alturaP: 1.8rem;
$alturaH: 1.5rem;