html {
    margin: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: lightgreen;
    padding: 1rem;
}

a {
    color:#478BC4
}

span {
    font-weight: normal;
}

ul:nth-of-type(1) li {
    list-style-image: url('../img/unlink.png');
}

ul:nth-of-type(2) {
    list-style: none;
    padding: 1rem;
}


ul:nth-of-type(3) li {
    border-bottom: 2px solid black;
    padding: 0.2rem;
    background-color: #A9A9A9;
    list-style: none;
    width: 9rem;
    border: 1px solid black;
}

ul:nth-of-type(4) {

    margin-left: -2.6rem;
    
}

ul:nth-of-type(4) li{
    list-style: none;
    display: inline-table;
    border: 3px;
    background-color: #A9A9A9;
    border: 1px solid black;
}

ul:nth-of-type(4) li>a {
    text-decoration: none;
    color: white;
    padding: 0.1rem;
}

ul:nth-of-type(4) li:hover, ul:nth-of-type(4) li a:hover {
    background-color: white;
    color: black;
}

footer {
    color: white;
    background-color: green;
    text-align: center;
}

