body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.container {
    border: 1px solid black;
    border-radius: 10px;

    /* margin: 0 auto; */
    margin-inline:auto;
    width: 50%;
    padding: 10px;
}

img {
    width: 150px;
}

img:nth-of-type(1) {
    float: right;
}

img:nth-of-type(2), img:nth-of-type(3) {
    float: left;
}

p:nth-of-type(1) {
    clear: right;
}

p:nth-of-type(2) {
    clear: left;
    /* clear: both; */
}