table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
}

/* Utilizando únicamente pseudoselectores, aplica fondo verde a las casillas que contienen horas */

tbody tr td:first-child {
  background-color: green;
}


/* Utilizando únicamente pseudoselectores, aplica un fondo amarillo a la celda RECREO */
tbody tr:nth-child(3) td:last-child {
  background-color: yellow;
  font-weight: bold;
  text-align: center;
}


/* Cambia los estado de los enlaces para que:

-Nunca estén subrayados
-Si están visitados se muestren en rojo
-Si no están visitado se muestren en verde */

a:link {
  font-style: normal;
  text-decoration: none;
  color: green;
}


caption a:visited {
  color: red;
}

/* Utilizando pseudoselectores, hacer que cuando pasemos el ratón sobre las celdas de la columna del viernes,
aumente el tamaño de letra el doble */

th:last-child:hover, td:last-child:hover:not(:nth-child(2)){
  font-size: 200%;
} 


/* Utilizando pseudoelementos, haz que la primera letra de los días tenga el doble de tamaño */

tr:first-child th::first-letter {
  font-size: 2rem;
}


/* Añade un borde rojo que esté separado 5px a los campos obligatorios */

input:required {
  border:1px solid red;
  padding: 5px;
}


/* Añade un * en rojo detrás de las etiquetas del formulario */
label::after {
  content: "****";
  color: red;
}

