* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.card-container {
    border: 5px solid black;
    margin: 100px auto;

    width: 80%;
    max-width: 1000px;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 150px); */
}

.card__figure {
    width: 100%;
    height: 200px;
}

/* Para hacer la imagen responsive */
.card__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Botones */
.card__btn {
    background-color: darkblue;
    border-radius: 5px;
    text-align: center;
    color: #ffff;
    padding: 1rem 2rem;
    text-decoration: none;
}

.card__btn:hover{
    background-color: blue;
}

/* Grid anidado */
.card {
    display: grid;
    grid-row: 1/5;
    grid-auto-rows: max-content;
    /* gap: 1rem; */
    grid-template-rows: subgrid;
}
