* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

.picture {
    position: relative;
    width: 350px;
    height: 500px;
    overflow: hidden;
}

.picture__img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    display: block;
}

.picture__container {
    position: absolute;
    bottom: 0;
    background-color: rgba(156, 57, 178, 0.637);
    width: 350px;
    height: 500px;
    
    transform: translate(100%, 100%) rotate(0turn);
    transition: transform 1s;
    
}

.picture__texts {
    margin: 20px;
    color: white;
}

.picture__title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}

.picture__paragraph {
    line-height: 24px;
}



.picture:hover .picture__container {
    transform: translate(0, 0) rotate(1turn);
}

/* .picture__title::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;

    margin: 10px auto 0;
} */