body {
    font-family: Arial, sans-serif;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.tabla-animacion {
    width: 100%;
    max-width: 800px;
    border: 2px solid #002d5a;
    background-color: white;
}

.fila {
    border-bottom: 2px solid #002d5a;
    width: 100%;
}

.ultima {
    border-bottom: none;
}

.titulo {
    text-align: center;
    color: #002d5a;
    font-weight: bold;
    padding: 10px 0;
    font-size: 16px;
    background-color: #fdfdfd;
}

.carril {
    width: 100%;
    height: 80px;
    position: relative;
    /* Esto es importante para que la rueda no se salga */
    overflow: hidden; 
}

.rueda {
    width: 60px;
    height: 60px;
    display: block;
    margin-top: 10px;
    
    /* Estado inicial */
    transform: translateX(0) rotate(0deg);
    
    transition: transform 3s;
}

/* --- EL MOVIMIENTO --- */
/* Cuando pasas el ratón por la FILA, la rueda viaja al final */
.tabla-animacion:hover .rueda {
    /* Mueve la rueda el 100% del carril menos su propio tamaño */
    transform: translateX(calc(800px - 60px)) rotate(720deg);
}

/* FUNCIONES DE VELOCIDAD */
.ease        { transition-timing-function: ease; }
.ease-in     { transition-timing-function: ease-in; }
.ease-out    { transition-timing-function: ease-out; }
.ease-in-out { transition-timing-function: ease-in-out; }
.linear      { transition-timing-function: linear; }