* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: url(../fonts/Lato-Regular.ttf);
    scroll-behavior: smooth;
}

.fondo1{
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-position: center bottom;
    height: 700px;
}


.titulos{
    text-align: center;
    display: flex;
    color: white;
    background-color: rgba(43, 43, 43, 0.75) ;
    height: 80px;
    justify-content: center;
    line-height: 40px;
}

h3{
    padding: 20px;
    text-align: center;
    justify-content: center;
}

h3 > a{
    text-decoration: none;
    color: white;
}

.bienvenidos{
    width: 250px;
    height: 80px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
    text-align: center;
    line-height: 80px;
}

.bienvenidos > h1{
    color: white;
    margin: 0 auto;
    align-items: center;
    
}

.fondo2{
    background-image: url(../img/fondo2.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

form{
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 6px 5px 12px #454444;
    
}

form > h2 {
    text-align: center;
}

.input1 {
    width: 240px;
    height: 50px;
    border-color: gainsboro;
    margin-bottom: 15px;
}

.input2 {
    width: 240px;
    height: 50px;
    border-color: gainsboro;
    margin-bottom: 15px;
}

.input3 {
    width: 240px;
    height: 200px;
    border-color: gainsboro;
    margin-bottom: 15px;
}

.input4 {
    width: 240px;
    border-radius: 30px;
    border: 0px;
    color: white;
    background-image: linear-gradient(to right, #4e97f7, #263ec1);
    height: 20px;
    
}

footer{
    text-align: center;
    display: flex;
    color: white;
    background-color: rgba(43, 43, 43, 0.75) ;
    height: 80px;
    justify-content: center;
    line-height: 40px;
}



