* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    object-fit: cover;
    overflow: hidden;
    width: 350px;
    animation-duration: 3s;
    animation-name: recorte;
}



/* keyframe */
@keyframes recorte {
    from { /* Estado inicial*/
        transition: clip-path 0.5s ease-in-out;
        clip-path: inset(0% 0% 100% 0%);
    }

    to {
        clip-path: inset(0% 0% 0% 0%);
    }
}
   
