* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.container {
    width: 90%;
    height: 600px;
    background-color: silver;
    margin-top: 4rem;
    margin-left: 4rem;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    /* clip-path: inset(0px round 0px 0); */
    overflow: hidden;
}

.spidy{
    transition: transform 2s;
    transform: translateY(-150px);
}

.container:hover .spidy {
    /* Estado final */
    transform: translateY(0px);
}