// Este archivo es un partial: será incluido en otro
// No se complia
// El nombre del archivo debe empezar por _
$body-color: #666666!default;
$h1-color: #23abcd!default;
$body-font-size: 2rem!default;
$h1-size: 3.4rem!default;