* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 20%;

    display: grid;
    grid-template-rows: auto 1fr; /* dos filas: contenido y luego imagen (altura automática + resto) */
    margin: 20px;
    
}

.content{
    background-color: #294136;
    color: white;
    padding: 20px;
    display: grid;
    gap: 20px;
}


.container img{
    width: 250px;
    height: 300px;
}

.content input[type="button"] {
    max-width: 120px;
    background: white;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 425px) {

    .container{
        width: 100%;
        max-width: 900px;
        margin: 80px auto;

        display: grid;

        /* 2 columnas: la imagen y la tarjeta */
        grid-template-columns: 1fr 1fr;

        /* Para que la tarjeta se solape encima */
        position: relative;
    }

    .container img{
        grid-column: 1 / 2;  /* imagen a la izquierda */
        grid-row: 1 / 2;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .content{
        grid-column: 1 / 3;  /* ocupa las dos columnas */
        grid-row: 1 / 2;

        width: 65%;          /* tamaño de la tarjeta */
        background-color: #294136;
        padding: 30px;

        /* Desplazar la tarjeta hacia la derecha (superposición) */
        transform: translateX(35%);
        z-index: 3;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    }
}
