* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    outline: 2px dashed black;
    margin: 50px;
    height: 650px;
    width: 90%;
    max-width: 1000px;

    /* Aplico el grid */
    display: grid;

    /* 1) Crear cuadrícula grid */
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(5, 100px);
    /* grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 1fr); */
    /* grid-template-columns: [uno] 1fr [dos] 1fr [tres] 1fr [cuatro] 1fr [cinco]; */

    gap: 30px;
    /* row-gap: 30px;
    column-gap: 20px; */

    /* grid: Filar / columnas */
    /* grid: repeat(3, 1fr) / repeat(4, 1fr); */

    /* 2) Colocación de los elementos grid en la celda definida */
    /* Se indica en los elementos */

    /* Alineaciones en Grid */
    /* justify-items: center;
    align-items: end; */

    /* Alineación de la cuadrícula grid dentro del contenedor */
    align-content: center;
}

.item {
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    /* height: 150px;
    width: 100px; */
    line-height: 80px;
    text-align: center;
}

.item1 {
    background-color: lime;

    /* grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; */

    grid-column: 1 / 6;
    grid-row: 1 / 2;

    /* grid-area: 1/ 1/ 2/ 5; */
    /* justify-self: center; */
}

.item2 {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    /* align-self: flex-start; */
}

.item3 {
    background-color: dodgerblue;
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    /* justify-self: end; */
}

.item4 {
    background-color: fuchsia;
    grid-column: 2 / 6;
    grid-row: 5 / -1;
}